@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-side {
  width: 3%;
}

.page-content {
  font-size: 100%;
}

.content-box {
  width: 50%;
  text-align: center;
  justify-content: center;
}